SESSION_SECRET=123
DATABASE_URL="postgresql://postgres:postgres@db:5432/mydb?schema=public"
NEXT_API_URL=https://app.url
NEXTAUTH_URL=https://app.url
NEXTAUTH_SECRET=123
APP_DOMAIN=domain
SSL_EMAIL=ssl.email.com