@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility table-layout {
    @apply h-full w-full rounded-lg border border-blue-300 bg-white;
}

@utility table-header {
    @apply flex flex-row rounded-t-lg border-b border-neutral-300 bg-white px-6 py-4 justify-between items-center;
}

@utility table-header-title {
    @apply text-xl font-bold leading-9;
}

@utility table-rows-layout {
    @apply flex flex-col divide-y divide-gray-200 overflow-y-auto;
}

@media print {
    @page {
        size: 58mm 40mm;
        /* size: auto; */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    /* Hide everything on the page */
    /* Only display the print container */
    body *::-webkit-scrollbar {
        display: none;
    }
    * {
        border: none;
    }
    body > *:not(div) {
        display: none;
        /* border: 1px solid red; */
    }
    /* Make sure each print-page takes up a separate page */
    .print-page {
        page-break-after: always;
        page-break-inside: avoid;
        text-align: center;
    }
    .Toastify {
        display: none;
    }
}

/* * {
    border: 1px solid red;
} */
